# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [10]:
%pip install pandas
%pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/kevin/.local/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/kevin/.local/lib/python3.10/site-packages (from pandas) (1.26.1)
Requirement already satisfied: tzdata>=2022.1 in /home/kevin/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/kevin/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/kevin/.local/lib/python3.10/site-packages (2.0.23)
Requirement already satisfied: greenlet!=0.4.17 in /home/kevin/.local/lib/python3.10/site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/kevin/.local/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Note: you may need to restart the kernel to use updated packages.

## Load data

In [11]:
import pandas as pd

df_twitch = pd.read_sql_table('twitch_games', 'sqlite:///../data/data.sqlite')
df_games = pd.read_sql_table('popular_video_games', 'sqlite:///../data/data.sqlite')
df_merged = pd.read_sql_table('merged', 'sqlite:///../data/data.sqlite')

### Look at the first rows

In [12]:
df_twitch.head(10)

,Game,Month,Year,Hours_watched,Hours_streamed,Peak_viewers,Peak_channels,Avg_viewers,Avg_channels
0,League of Legends,1,2016,94377226,1362044,530270,2903,127021,1833
1,Counter-Strike: Global Offensive,1,2016,47832863,830105,372654,2197,64378,1117
2,Dota 2,1,2016,45185893,433397,315083,1100,60815,583
3,Hearthstone,1,2016,39936159,235903,131357,517,53749,317
4,Call of Duty: Black Ops III,1,2016,16153057,1151578,71639,3620,21740,1549
5,Minecraft,1,2016,10231056,490002,64432,1538,13769,659
6,World of Warcraft,1,2016,8771452,342978,46130,1180,11805,461
7,Z1: Battle Royale,1,2016,7894571,205569,41588,460,10625,276
8,FIFA 16,1,2016,6988475,203646,145728,756,9405,274
9,StarCraft II,1,2016,6567126,73753,60355,178,8838,99

In [13]:
df_games.head(10)

,Title,Release_Date,Platforms,Genres,Plays
0,Elden Ring,"Feb 25, 2022","['Windows PC', 'PlayStation 4', 'Xbox One', 'P...","['Adventure', 'RPG']",21K
1,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Wii U', 'Nintendo Switch']","['Adventure', 'Puzzle']",35K
2,Hades,"Dec 07, 2018","['Windows PC', 'Mac', 'PlayStation 4', 'Xbox O...","['Adventure', 'Brawler', 'Indie', 'RPG']",25K
3,Hollow Knight,"Feb 24, 2017","['Windows PC', 'Mac', 'Linux', 'Nintendo Switch']","['Adventure', 'Indie', 'Platform']",25K
4,Undertale,"Sep 15, 2015","['Windows PC', 'Mac', 'Linux', 'PlayStation 4'...","['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",32K
5,Minecraft,"Nov 18, 2011","['Windows PC', 'Mac', 'Linux']","['Adventure', 'Simulator']",38K
6,Omori,"Dec 25, 2020","['Windows PC', 'Mac', 'PlayStation 4', 'Xbox O...","['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",8.7K
7,The Legend of Zelda: Tears of the Kingdom,"May 12, 2023",['Nintendo Switch'],['Adventure'],4.3K
8,Resident Evil 4,"Mar 24, 2023","['Windows PC', 'PlayStation 4', 'PlayStation 5...","['Adventure', 'Puzzle', 'Shooter']",6.1K
9,NieR: Automata,"Feb 23, 2017","['Windows PC', 'PlayStation 4']","['Brawler', 'RPG']",20K

In [14]:
df_merged.head(10)

,Game,Month,Year,Hours_watched,Hours_streamed,Peak_viewers,Peak_channels,Avg_viewers,Avg_channels,Title,Release_Date,Platforms,Genres,Plays
0,League of Legends,1,2016,94377226,1362044,530270,2903,127021,1833,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
1,League of Legends,2,2016,93154772,1266715,475784,2712,134035,1822,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
2,League of Legends,3,2016,94514511,1264029,599114,2585,127206,1701,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
3,League of Legends,4,2016,88389049,1217250,553165,2945,122933,1692,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
4,League of Legends,5,2016,80679320,1196096,433005,2635,108585,1609,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
5,League of Legends,6,2016,81348505,1037242,346059,2131,113141,1442,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
6,League of Legends,7,2016,77871713,1004238,296196,2089,104807,1351,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
7,League of Legends,8,2016,81684707,1097258,502181,2177,109939,1476,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
8,League of Legends,9,2016,81064642,1087244,711103,2493,112746,1512,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K
9,League of Legends,10,2016,104305242,1155966,952308,2591,140383,1555,League of Legends,"Oct 27, 2009","['Windows PC', 'Mac']","['MOBA', 'RPG', 'Strategy']",15K

### Data exploration
Print some basic information about the data.

In [15]:
df_twitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17855 entries, 0 to 17854
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Game            17854 non-null  object
 1   Month           17855 non-null  int64
 2   Year            17855 non-null  int64
 3   Hours_watched   17855 non-null  int64
 4   Hours_streamed  17855 non-null  int64
 5   Peak_viewers    17855 non-null  int64
 6   Peak_channels   17855 non-null  int64
 7   Avg_viewers     17855 non-null  int64
 8   Avg_channels    17855 non-null  int64
dtypes: int64(8), object(1)
memory usage: 1.2+ MB

In [16]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         60000 non-null  object
 1   Release_Date  60000 non-null  object
 2   Platforms     60000 non-null  object
 3   Genres        60000 non-null  object
 4   Plays         60000 non-null  object
dtypes: object(5)
memory usage: 2.3+ MB

In [17]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15158 entries, 0 to 15157
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Game            15158 non-null  object
 1   Month           15158 non-null  int64
 2   Year            15158 non-null  int64
 3   Hours_watched   15158 non-null  int64
 4   Hours_streamed  15158 non-null  int64
 5   Peak_viewers    15158 non-null  int64
 6   Peak_channels   15158 non-null  int64
 7   Avg_viewers     15158 non-null  int64
 8   Avg_channels    15158 non-null  int64
 9   Title           15158 non-null  object
 10  Release_Date    15158 non-null  object
 11  Platforms       15158 non-null  object
 12  Genres          15158 non-null  object
 13  Plays           15158 non-null  object
dtypes: int64(8), object(6)
memory usage: 1.6+ MB